<!-- <section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="https://hexdocs.pm/phoenix/overview.html">Guides &amp; Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix/blob/v1.6/CHANGELOG.md">v1.6 Changelog</a>
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li>
        <a href="https://elixirforum.com/c/phoenix-forum">Forum</a>
      </li>
      <li>
        <a href="https://web.libera.chat/#elixir">#elixir on Libera Chat (IRC)</a>
      </li>
      <li>
        <a href="https://twitter.com/elixirphoenix">Twitter @elixirphoenix</a>
      </li>
      <li>
        <a href="https://elixir-slackin.herokuapp.com/">Elixir on Slack</a>
      </li>
      <li>
        <a href="https://discord.gg/elixir">Elixir on Discord</a>
      </li>
    </ul>
  </article>

</section> -->

<!-- Burruto builder UI goes Here -->
<div class="burrito-box">

  <div class="base">
    <label for="base-options">Choose a burrito base:</label>
    <select name="base-options" id="base-options">
      <option id="base-flour" value="flour">Flour</option>
      <option id="base-wheat" value="wheat">Wheat</option>
      <option id="base-bowl" value="bowl">Bowl</option>
      <option id="base-greens" value="salad">Greens</option>
    </select>
  </div>

  <div class="protein">

    <label for="protein-options">First protein:</label>
    <select name="protein-options" id="protien-options">
      <option id="protein-beef" value="beef" price="9">Ground Beef</option>
      <option id="protein-chicken" value="chicken" price="10">Spicy Chicken</option>
      <option id="protein-steak" value="steak" price="12">Carne Asada</option>
      <option id="protein-plant" value="plant" price="9.5">Plant-Based</option>
    </select>

    <label for="protein-seconds">Second protein:</label>
    <select name="protein-seconds" id="protien-seconds">
      <option id="protein-beef" value="none" price="0">None Extra</option>
      <option id="protein-beef" value="beef" price="2">Ground Beef</option>
      <option id="protein-chicken" value="chicken" price="2.5">Spicy Chicken</option>
      <option id="protein-steak" value="steak" price="4">Carne Asada</option>
      <option id="protein-plant" value="plant" price="2">Plant-Based</option>
    </select>

  </div>

  <div class="rice">
    <label for="rice-options">Rice:</label>
    <select name="rice-options" id="protien-options">
      <option id="rice-white" value="white">White Rice</option>
      <option id="rice-brown" value="brown">Brown Rice</option>
      <option id="rice-spanish" value="spanish">Spanish Rice</option>
      <option id="rice-none" value="none">No Rice</option>
    </select>
  </div>

  <div class="beans">
    <label for="beans-options">Beans</label>
    <select name="beans-options" id="beans-options">
      <option id="beans-black" value="white">White beans</option>
      <option id="beans-pinto" value="brown">Brown beans</option>
      <option id="beans-refried" value="spanish">Spanish beans</option>
      <option id="beans-none" value="none">No beans</option>
    </select>
  </div>


  <div class="finalize">
    <b> Finalize:   </b>
    <input id="finalize-button" type="button" value="Build">
    <b id="burrito contents"> 0 </b>
  </div>

</div>

<!-- The list of messages will appear here: -->



<div class="chat-box">
  <ul id="msg-list" style="list-style: none;">
  </ul>
</div>


<div class="row">
  <div class="col-xs-3" style="width: 20%; margin-left: 10px; margin-top: 10px">
    <input type="text" id="name" class="form-control" placeholder="Name" style="border: 1px black solid; font-size: 1.3em;" autofocus>
  </div>
  <div class="col-xs-9" style="width: 100%; margin-left: 10px; margin-top: 10px; margin-right: 10px;">
    <input type="text" id="msg" class="form-control" placeholder="Message [ Enter ] (Localhost)" style="border: 1px black solid; font-size: 1.3em;">
  </div>
</div>
