<!-- <section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="https://hexdocs.pm/phoenix/overview.html">Guides &amp; Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix/blob/v1.6/CHANGELOG.md">v1.6 Changelog</a>
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li>
        <a href="https://elixirforum.com/c/phoenix-forum">Forum</a>
      </li>
      <li>
        <a href="https://web.libera.chat/#elixir">#elixir on Libera Chat (IRC)</a>
      </li>
      <li>
        <a href="https://twitter.com/elixirphoenix">Twitter @elixirphoenix</a>
      </li>
      <li>
        <a href="https://elixir-slackin.herokuapp.com/">Elixir on Slack</a>
      </li>
      <li>
        <a href="https://discord.gg/elixir">Elixir on Discord</a>
      </li>
    </ul>
  </article>

</section> -->

<!-- Burruto builder UI goes Here -->
<div class="burrito-box">

  <div class="base">
    <b> Burrito-Base:   </b>
    <input id="flour-base" type="button" value="Flour Tortilla">
    <input id="wheat-base" type="button" value="Wheat Tortilla">
    <input id="bowl-base" type="button" value="Burrito Bowl">
    <input id="bowl-base" type="button" value="Bowl w/ Greens">
  </div>

  <div class="protein">
    <b> Protein:   </b>
    <input id="beef-protein" type="button" value="Ground Beef">
    <input id="chicken-protein" type="button" value="Spicy Chicken">
    <input id="carne-protein" type="button" value="Carne Asada">
    <input id="plant-protein" type="button" value="Plant-Based">
  </div>

  <div class="rice">
    <b> Rice:   </b>
    <input id="white-rice" type="button" value="White Rice">
    <input id="brown-rice" type="button" value="Brown Rice">
    <input id="spanish-rice" type="button" value="Spanish Rice">
    <input id="no-rice" type="button" value="No Rice">
  </div>

  <div class="beans">
    <b> Beans:   </b>
    <input id="black-beans" type="button" value="Black Beans">
    <input id="pinto-beans" type="button" value="Pinto Beans">
    <input id="refried-beans" type="button" value="Refried Beans">
    <input id="no-beans" type="button" value="No Beans">
  </div>


  <div class="toppings">
    <b> Add-Ons:   </b>
    <input id="cheese-toppings" type="button" value="Queso">
    <input id="guac-toppings" type="button" value="Guacamole">
    <input id="onion-toppings" type="button" value="Diced Onion">
    <input id="cliantro-toppings" type="button" value="Cilantro">
    <input id="cream-toppings" type="button" value="Sour Cream">
    <input id="vegie-toppings" type="button" value="Fajita Vegetables">
    <input id="red-salsa-toppings" type="button" value="Salsa Roja">
    <input id="green-salsa-toppings" type="button" value="Salsa Verde">
  </div>

  <div class="finalize">
    <b> Finalize:   </b>
    <input id="finalize-button" type="button" value="Build">
  </div>

</div>

<!-- The list of messages will appear here: -->
<div class="chat-box">
  <ul id="msg-list" style="list-style: none;">
  </ul>
</div>


<div class="row">
  <div class="col-xs-3" style="width: 20%; margin-left: 10px; margin-top: 10px">
    <input type="text" id="name" class="form-control" placeholder="Name" style="border: 1px black solid; font-size: 1.3em;" autofocus>
  </div>
  <div class="col-xs-9" style="width: 100%; margin-left: 10px; margin-top: 10px; margin-right: 10px;">
    <input type="text" id="msg" class="form-control" placeholder="Message [ Enter ] (Localhost)" style="border: 1px black solid; font-size: 1.3em;">
  </div>
</div>
